.header {
  margin: 0 auto;
  padding-top: 123px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;

  &__logo {
    padding-bottom: 68px;
    transition: transform 400ms $Cubic;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  &__title {
    font-size: 50px;
    color: $Dark-Grayish-Blue;
    padding-bottom: 22px;
  }
  &__description {
    width: 680px;
    font-size: 19px;
    padding-bottom: 50px;
    line-height: 1.5em;
    color: $Grayish-Blue;
  }
  &__btns {
    display: flex;
    gap: 14px;
  }
  &__btns-ios {
    width: 225px;
    height: 55px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    background-color: $Strong-Cyan;
    color: White;
    box-shadow: 0px 7px 25px 0px rgba(38, 186, 164, 0.75);
    -webkit-box-shadow: 0px 7px 25px 0px rgba(38, 186, 164, 0.75);
    -moz-box-shadow: 0px 7px 25px 0px rgba(38, 186, 164, 0.75);
    transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      cursor: pointer;
      background-color: $Strong-Cyan-alfa;
    }
  }
  &__btns-mac {
    @extend .header__btns-ios;
    background-color: $Light-Blue;
    box-shadow: 0px 7px 25px 0px rgba(97, 115, 255, 0.75);
    -webkit-box-shadow: 0px 7px 25px 0px rgba(97, 115, 255, 0.75);
    -moz-box-shadow: 0px 7px 25px 0px rgba(97, 115, 255, 0.75);
    transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: $Light-Blue-alfa;
    }
  }
}

@media screen and (max-width: 1300px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(../images/bg-header-mobile.png);
    max-width: 375px;
    &__title {
      font-size: 40px;
    }
    &__description {
      font-size: 16.2px;
      width: auto;
    }
    &__btns {
      flex-direction: column;
      width: 100%;
    }
    &__btns-ios {
      width: 100%;
    }
  }
}
